<div
  class="pl-8 pt-8 pb-8 pr-8 flex flex-col items-center gap-8 overflow-x-auto"
>
  @if (canProjectBeFinished() && accountService.currentUser()?.role ===
  'SOFTWARE_COMPANY' && !projectIsFinished()) { @if (loading()) {
  <button
    disabled
    type="button"
    class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
  >
    <svg
      aria-hidden="true"
      role="status"
      class="inline w-4 h-4 me-3 text-white animate-spin"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="#E5E7EB"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentColor"
      />
    </svg>
    Loading...
  </button>
  } @else {
  <button
    type="button"
    class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    (click)="completeTheProject()"
  >
    Mark this project as completed
  </button>
  } }
  <div
    class="w-full flex justify-between"
    *ngIf="
      accountService.currentUser() &&
      accountService.currentUser()?.role !== 'SOFTWARE_COMPANY'
    "
  >
    <div class="flex items-center">
      <button
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        (click)="turnOnEditMode()"
        *ngIf="!editMode()"
      >
        Edit Kanban
      </button>
      <button
        type="button"
        class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        *ngIf="editMode()"
        (click)="saveNewLayoutChanges()"
      >
        Save changes
      </button>
      <button
        type="button"
        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
        *ngIf="editMode()"
        (click)="cancelEditMode()"
      >
        Cancel
      </button>
    </div>

    @if (canProjectBeFinished()) { @if (accountService.currentUser()?.role ===
    'PRODUCT_MANAGER' && projectIsActive()) {
    <button
      type="button"
      class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
      (click)="requestClientInput()"
    >
      Request input from client
    </button>
    } } @if (['PRODUCT_MANAGER',
    'PROJECT_MANAGER'].includes(accountService.currentUser()?.role?.toString()
    ?? "")) {
    <button
      id="createRequirementModalButton"
      data-modal-target="createRequirementModal"
      data-modal-toggle="createRequirementModal"
      class="mb-1.5 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
      type="button"
    >
      New requirement
    </button>
    <!-- Main modal -->
    <div
      id="createRequirementModal"
      tabindex="-1"
      aria-hidden="true"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
    >
      <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div
          class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
        >
          <!-- Modal header -->
          <div
            class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
          >
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              Create a new requirement
            </h3>
            <button
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-toggle="createRequirementModal"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <form
            [formGroup]="createRequirementForm"
            (ngSubmit)="onSubmitRequirement()"
          >
            <div class="grid gap-4 mb-4 sm:grid-cols-2">
              <div class="sm:col-span-2">
                <select
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  formControlName="requirementType"
                >
                  <option selected>Choose a requirement type</option>
                  @for (type of requirementTypes; track $index) {
                  <option [value]="type">
                    <app-requirement-type-icon
                      [type]="type"
                    ></app-requirement-type-icon>
                    {{ type }}
                  </option>
                  }
                </select>
              </div>

              <div class="sm:col-span-2">
                <select
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  formControlName="requirementPriority"
                >
                  <option selected>Set priority for this requirement</option>
                  @for (priority of priorityLevels; track $index) {
                  <option [value]="priority">
                    <app-requirement-priority
                      [priority]="priority"
                    ></app-requirement-priority>
                  </option>
                  }
                </select>
              </div>

              <div class="sm:col-span-2">
                <app-text-input
                  [label]="'Requirement name'"
                  [placeholder]="'Enter requirement name'"
                  [name]="'name'"
                  [formControl]="$any(createRequirementForm.controls['name'])"
                />
              </div>
              <div class="sm:col-span-2">
                <app-textarea-input
                  [formControl]="
                    $any(createRequirementForm.controls['description'])
                  "
                  [label]="'Description'"
                  [name]="'description'"
                  [placeholder]="'Enter phase description'"
                />
              </div>
            </div>
            @if (loading()) {
            <button
              disabled
              type="button"
              class="w-full flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 items-center justify-center"
            >
              <svg
                aria-hidden="true"
                role="status"
                class="inline w-4 h-4 me-3 text-white animate-spin"
                viewBox="0 0 100 101"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="#E5E7EB"
                />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentColor"
                />
              </svg>
              Loading...
            </button>
            } @else {
            <button
              type="submit"
              class="w-full text-white text-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >
              Create a new project phase
            </button>
            }
          </form>
        </div>
      </div>
    </div>
    }

    <div
      class="flex items-center space-x-4"
      *ngIf="
        accountService.currentUser() &&
        accountService.currentUser()?.role === 'PROJECT_MANAGER'
      "
    >
      <button
        id="defaultModalButton"
        data-modal-target="defaultModal"
        data-modal-toggle="defaultModal"
        class="mb-1.5 text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        type="button"
      >
        New project phase
      </button>

      <!-- Main modal -->
      <div
        id="defaultModal"
        tabindex="-1"
        aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
      >
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
          <!-- Modal content -->
          <div
            class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
          >
            <!-- Modal header -->
            <div
              class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
            >
              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                Add a new project phase
              </h3>
              <button
                type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-toggle="defaultModal"
              >
                <svg
                  aria-hidden="true"
                  class="w-5 h-5"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <form
              [formGroup]="newProjectPhaseForm"
              (ngSubmit)="onSubmitPhase()"
            >
              <div class="grid gap-4 mb-4 sm:grid-cols-2">
                <div class="sm:col-span-2">
                  <app-text-input
                    [label]="'Phase name'"
                    [placeholder]="'Enter phase name'"
                    [name]="'name'"
                    [formControl]="$any(newProjectPhaseForm.controls['name'])"
                  />
                </div>
                <div class="sm:col-span-2">
                  <app-textarea-input
                    [formControl]="
                      $any(newProjectPhaseForm.controls['description'])
                    "
                    [label]="'Description'"
                    [name]="'description'"
                    [placeholder]="'Enter phase description'"
                  />
                </div>
                <div class="sm:col-span-2">
                  <app-text-input
                    [label]="'Phase serial number'"
                    [placeholder]="'Enter phase serial number'"
                    [name]="'serialNumber'"
                    [type]="'number'"
                    [formControl]="
                      $any(newProjectPhaseForm.controls['serialNumber'])
                    "
                  />
                </div>
              </div>
              @if (loading()) {
              <button
                disabled
                type="button"
                class="w-full flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 items-center justify-center"
              >
                <svg
                  aria-hidden="true"
                  role="status"
                  class="inline w-4 h-4 me-3 text-white animate-spin"
                  viewBox="0 0 100 101"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="#E5E7EB"
                  />
                  <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentColor"
                  />
                </svg>
                Loading...
              </button>
              } @else {
              <button
                type="submit"
                class="w-full text-white text-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
              >
                Create a new project phase
              </button>
              }
            </form>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        *ngIf="!editPhasesMode()"
        (click)="editPhasesMode.set(true)"
      >
        Edit project phases
      </button>

      @if (editPhasesMode()) {

      <button
        type="button"
        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
        (click)="editPhasesMode.set(false)"
      >
        Cancel
      </button>
      }
    </div>
  </div>
  <div
    cdkDropListGroup
    class="flex items-start justify-between space-x-2 w-full"
  >
    <div
      class="w-[300px] inline-block align-top"
      *ngFor="let projectPhase of projectService.selectedProjectPhases()"
    >
      <button
        type="button"
        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 deletePhaseBtn"
        *ngIf="
          !['Requirements Analysis', 'Done'].includes(projectPhase.name) &&
          editPhasesMode()
        "
        (click)="deletePhase(projectPhase.id)"
      >
        Delete this phase
      </button>

      <h2
        class="mb-2 text-center text-xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{ projectPhase.name }}
      </h2>

      <div
        cdkDropList
        [cdkDropListData]="projectPhase.requirements"
        class="min-h-[340px] min-w-[200px] rounded-lg overflow-hidden flex flex-col items-center p-1 border border-slate-200 dark:border-slate-700"
        [class.cursor-move]="editMode()"
        [class.cursor-pointer]="!editMode()"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="flex flex-col gap-4 w-72 min-h-[200px] p-6 bg-white border border-gray-200 rounded-lg shadow my-1 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          *ngFor="let requirement of projectPhase.requirements"
          cdkDrag
          (click)="!editMode() && letRequirementBeClicked(requirement)"
          data-modal-target="requirement-modal"
          data-modal-toggle="requirement-modal"
          [cdkDragDisabled]="!editMode()"
        >
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{ requirement.name }}
          </h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">
            {{ truncateText(requirement.description, 100) }}
          </p>
          <div class="flex items-center w-full">
            @if (requirement.assignedDevelopers.length > 0) {
            <div class="flex -space-x-2 rtl:space-x-reverse">
              @for (developer of requirement.assignedDevelopers; track $index) {
              <app-avatar
                [user]="profileService.getUserFromDeveloper(developer)"
                [showStatus]="false"
                [width]="8"
                [height]="8"
              />
              }
            </div>
            } @else {
            <div
              class="flex items-center gap-2 w-64 bg-gray-400 px-4 py-2 text-xs rounded-md leading-relaxed text-gray-500 dark:text-gray-400 dark:bg-gray-800"
            >
              <p
                class="text-base leading-relaxed text-gray-500 dark:text-gray-400"
              >
                Unassigned
              </p>
            </div>
            }
          </div>

          <div class="flex items-center justify-between gap-4">
            <div class="flex items-center gap-4">
              <app-requirement-type-icon [type]="requirement.type" />
              <p class="text-xs text-gray-900 dark:text-gray-300">
                {{
                  requirement.type === "USER_STORY" ? "STORY" : requirement.type
                }}
                -
                {{ requirement.idNumber }}
              </p>
            </div>

            <app-requirement-priority [priority]="requirement.priority" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main modal -->
  <div
    id="requirement-modal"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  >
    <div class="relative p-4 w-full max-w-3xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
        >
          <div class="flex flex-col items-start gap-4">
            <div class="flex items-center gap-4">
              <app-requirement-type-icon [type]="selectedRequirement()?.type" />
              <p class="text-sm text-gray-900 dark:text-gray-300">
                {{
                  selectedRequirement()?.type === "USER_STORY"
                    ? "STORY"
                    : selectedRequirement()?.type
                }}
                -
                {{ selectedRequirement()?.idNumber }}
              </p>
            </div>
            <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">
              {{ selectedRequirement()?.name }}
            </h3>
          </div>
          <button
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-hide="requirement-modal"
          >
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5 flex flex-col space-y-4">
          <div class="flex items-start justify-between space-x-4">
            <div class="flex flex-col">
              <p class="text-base font-semibold text-gray-900 dark:text-white">
                Description
              </p>
              <p
                class="text-base leading-relaxed text-gray-500 dark:text-gray-400"
              >
                {{ selectedRequirement()?.description }}
              </p>
            </div>
            <div class="flex flex-col space-y-4">
              <div class="flex flex-col space-y-2">
                <p
                  class="text-xs font-semibold ml-1 text-gray-900 dark:text-white"
                >
                  STATUS
                </p>
                <p
                  class="w-64 border border-gray-400 px-4 py-2 text-xs rounded-md leading-relaxed text-slate-700 dark:text-gray-400 dark:bg-gray-800 dark:border-none"
                >
                  {{ selectedRequirement()?.status }}
                </p>
              </div>

              <div class="flex flex-col space-y-2">
                <p
                  class="text-xs font-semibold ml-1 text-gray-900 dark:text-white"
                >
                  PRIORITY
                </p>
                <div
                  class="flex items-center gap-2 w-64 border border-gray-400 px-4 py-2 text-xs rounded-md leading-relaxed dark:text-gray-400 dark:bg-gray-800 dark:border-none"
                >
                  <app-requirement-priority
                    [priority]="selectedRequirement()?.priority"
                  ></app-requirement-priority>
                </div>
              </div>

              <div class="flex flex-col space-y-2">
                <p
                  class="text-xs font-semibold ml-1 text-gray-900 dark:text-white"
                >
                  ASSIGNED DEVELOPERS
                </p>
                @if (assignedDevelopers().length > 0) { @for (developer of
                selectedRequirement()?.assignedDevelopers; track $index) {
                <div
                  class="flex items-center gap-2 w-64 border border-gray-400 px-4 py-2 text-xs rounded-md leading-relaxed dark:text-gray-400 dark:bg-gray-800 dark:border-none"
                >
                  <app-avatar
                    [user]="profileService.getUserFromDeveloper(developer)"
                    [width]="8"
                    [height]="8"
                    [showStatus]="false"
                  />
                  <p
                    class="text-base leading-relaxed text-slate-700 dark:text-gray-400"
                  >
                    {{ developer.name }} {{ developer.surname }}
                  </p>
                </div>
                } } @else {
                <div
                  class="flex items-center gap-2 w-64 bg-gray-400 px-4 py-2 text-xs rounded-md leading-relaxed text-gray-500 dark:text-gray-400 dark:bg-gray-800"
                >
                  <p
                    class="text-base leading-relaxed text-gray-500 dark:text-gray-400"
                  >
                    Unassigned
                  </p>
                </div>
                }
              </div>
            </div>
          </div>

          <div>
            <label
              for="query"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Assign developers to task</label
            >
            @if (selectedDeveloper() === null) {
            <input
              type="text"
              id="query"
              name="query"
              [(ngModel)]="query"
              (ngModelChange)="filter()"
              (focus)="openDropdown()"
              class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
            } @else if (selectedDeveloper() && selectedDeveloper() !== null) {
            <div
              class="flex justify-between items-center w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            >
              <div class="flex items-center space-x-4">
                <app-avatar
                  [user]="
                    profileService.getUserFromDeveloper(selectedDeveloper())
                  "
                ></app-avatar>
                <span>{{ selectedDeveloper()?.email }}</span>
              </div>
              <div class="flex items-center space-x-4">
                <button
                  type="button"
                  (click)="assignDeveloper()"
                  class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                >
                  Assign
                </button>
                <button
                  type="button"
                  (click)="deselectDeveloper()"
                  class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
            </div>
            }
          </div>

          <div
            id="dropdown"
            #dropdown
            class="z-10 w-full hidden bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-200"
              aria-labelledby="dropdown-button"
            >
              @for (developer of filteredDevelopers().slice(0, 5); track $index)
              {
              <li>
                <div
                  (click)="selectDeveloper(developer)"
                  class="block space-x-4 px-4 py-2 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >
                  <app-avatar
                    [user]="profileService.getUserFromDeveloper(developer)"
                    class="w-8 h-8 rounded-full"
                  ></app-avatar>
                  <span>{{ developer.name }} {{ developer.surname }}</span>
                </div>
              </li>
              }
            </ul>
          </div>
        </div>
        <!-- Modal footer -->
        <!-- <div
        class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          data-modal-hide="default-modal"
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          I accept
        </button>
        <button
          data-modal-hide="default-modal"
          type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          Decline
        </button>
      </div> -->
      </div>
    </div>
  </div>
</div>
