<aside
  id="logo-sidebar"
  class="w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      @for (item of sidebarItems(); track $index) {
      <li>
        <button
          (click)="navigateToLink(item.link)"
          [ngClass]="{
            'bg-gray-200 dark:bg-gray-600': activeRoute() === item.keyword
          }"
          class="w-full flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group cursor-pointer"
        >
          <div class="flex items-center">
            <ng-icon [name]="item.icon"></ng-icon>
            <span class="flex-1 ms-3 whitespace-nowrap">{{ item.title }}</span>
          </div>
          <!-- @if (unreadMessagesCount() > 0) {
          <span
            class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300"
            >{{ unreadMessagesCount() }}</span
          >
          } -->
        </button>
      </li>
      }
    </ul>
  </div>
</aside>
