<div class="space-y-2">
  <label
    [htmlFor]="name"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >{{ label }}</label
  >
  <textarea
    rows="4"
    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
    [placeholder]="placeholder"
    [formControl]="control"
  ></textarea>
  @if (control.touched && control.errors?.['required']) {
  <p class="mt-2 text-sm text-red-600 dark:text-red-500">
    {{ label }} is required
  </p>
  } @if (control.touched && control.errors?.['minlength']) {
  <p class="mt-2 text-sm text-red-600 dark:text-red-500">
    {{ label }} must be at least
    {{control.errors?.['minlength'].requiredLength}} characters
  </p>
  } @if (control.touched && control.errors?.['maxlength']) {
  <p class="mt-2 text-sm text-red-600 dark:text-red-500">
    {{ label }} must be at most
    {{control.errors?.['maxlength'].requiredLength}} characters
  </p>
  } @if (control.touched && control.errors?.['notMatching']) {
  <p class="mt-2 text-sm text-red-600 dark:text-red-500">
    Passwords do not match
  </p>
  }
</div>
