<div class="w-full flex flex-col space-y-8 p-8 cursor-pointer">
  <div class="w-full flex items-center justify-start">
    <h1 class="text-2xl text-slate-500 dark:text-gray-400">
      Here are your projects we are working on:
    </h1>
  </div>

  <div
    class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] place-items-center gap-5"
  >
    @if (projects().length === 0) {
    <h1 class="text-lg text-slate-500 dark:text-gray-400 place-self-start">
      Nothing here.
    </h1>
    } @else { @for (project of projects(); track $index) {
    <div
      (click)="link(project)"
      class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{ project.name }}
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">
        Due date: {{ project.dueDate.toLocaleDateString() }}
      </p>
      <p class="font-normal text-gray-700 dark:text-gray-400">
        Assigned project manager:
        <strong
          >{{ project.assignedTeam.manager.name }}
          {{ project.assignedTeam.manager.surname }}</strong
        >
      </p>
      @if (project.finished) {
      <p class="font-normal text-gray-700 dark:text-gray-400">
        Finished: <strong>Yes</strong>
      </p>
      } @else {
      <p class="font-normal text-gray-700 dark:text-gray-400">
        Finished: <strong>No</strong>
      </p>
      }
    </div>
    } }
  </div>
</div>
